<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @attachment.file %>
</p>

<p>
  <strong>User:</strong>
  <%= @attachment.user_id %>
</p>

<img src="<%= @attachment.file %>">

<hr>

<button type="button" class="btn btn-info">
  <%= link_to 'Back', attachments_path %>
</button>

<hr>

  <%= form_tag(:controller => "share", :action => "create") do %>
    
      <div class="row">
      <div class="card">
      <div class="card-body p-5 container">

        <div class="form-group col-8">
          <%= submit_tag("Share") %>
        </div>
        <div class="form-group col-8">
          <%= label_tag(:email, "Shared With:") %>
          <%= text_field_tag(:email) %>
        </div>
        <div class="form-group col-8">
          <%= label_tag(:email, "File name:") %>
          <input type="text" class="form-control mb-3" id="file" name="file" value= <%= @attachment.file %> readonly>
        </div>

      </div>
      </div>
      </div>
      
  <% end %>