<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @attachment.file %>
</p>

<p>
  <strong>User:</strong>
  <%= @attachment.user_id %>
</p>

<img src="<%= @attachment.file %>">

<hr>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
